@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300&family=Poppins:wght@300;400;500;600;700&display=swap');

.card_container {
    width: calc(100% - 100px);
    margin: auto;
    margin-top: 100px;
    height: 400px;
    overflow: hidden;
    border: 1px solid $light-grey;
    @include flex-horizontal(flex,null,null);
    position: relative;
    &-image {
            width: 40%;
        }
    &-image img {
        width: 100%;
        display: block;
        object-fit: cover;
    }
    &-image label{
        padding: 10px 20px;
        position: absolute;
        left: 25px;
        bottom: 0;
        color: $white;
        background-color: $dark-blue;
        text-transform: capitalize;
    }
    
    &-content{
        width: 60%;
        padding: 30px;
        position: relative;
        @include flex-vertical(flex, null, column, null, null);
        gap:30px;
        
        &-title{
            // gap: 30px;
            @include flex-horizontal(flex, null, space-between);
           &-price{
            p:first-child{
                font-size: 13px;
                text-transform: capitalize;
            }
           }
        }
        &-specifications{
            @include flex-horizontal(flex, null, null);
            gap: 30px;
        }
        
        &-footer{
            position: absolute;
            bottom: 30px;
            right: 30px;
            @include flex-horizontal(flex, null, null);
            gap: 20px;
            &-inactive{
                @include button-inactive;
            }
            &-active{
                @include button-active;
                button{
                    color: $white;
                }
            }
        }

    }
    
}